* {
  color: white;
}


tr {
  text-align: center;
  font-size: 1.2rem;
}

tbody tr {
  line-height: 70px;
  transition: all 0.1s;
  text-decoration: none;
}

tbody tr:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.search {
  padding-bottom: 5%;
}

.select {
  height: 70vh;
  overflow-y: scroll;
}

.select-preloader {
  height: 70vh;
}

.select-img {
  width: 70px;
}

.main-title {
  font-size: 4rem;
}

.main-date {
  font-size: 1.2rem;
}

.main-temp {
  font-size: 3rem;
}

.main-desc {
  font-size: 2rem;
}

.main-feels {
  font-size: 1.5rem;
}

.main-img {
  width: 150px;
}

.main-subtitle {
  font-size: 50px;
  display: inline-block;
}

.app:before {
  position: fixed;
  background: rgba(0,0,0,0.3);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.img {
  width: 150px;
}

.videoBG {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -3;
}

.error {
  color: red
}

.select-date {
  white-space: nowrap
}


@media (max-width: 991px) {
  .select {
    height: 35vh;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 14px;
  }

  .column-none {
    display: none;
  }
}
